<div id="<%= dom_id post %>">
  <p>
    <strong>Titulo do Livro:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Autor do Livro:</strong>
    <%= post.author %>
  </p>

  <p>
    <strong>Nota para o Livro:</strong>
    <%= post.note %>
  </p>

<p>
    <strong>Descrição do Livro:</strong>
    <%= post.description %>
  </p>

</div>
